@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

// Animations

@keyframes deleteCard {
  0% {
    transform: translateY(0);
    opacity: 1;
    filter: blur(0);
  }
  100% {
    transform: translateY(100px);
    opacity: 0;
    filter: blur(4px);
  }
}

@keyframes addCard {
  0% {
    transform: translateX(100px);
    opacity: 0;
    filter: blur(4px);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
    filter: blur(0);
  }
}

// General Styles

* {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(240, 20%, 96%);
}

// Main Styles

.card-grid {
  --card-width: 300px;
  padding: 1rem;
  display: grid;
  align-items: flex-start;
  grid-template-columns: repeat(auto-fit, minmax(var(--card-width), 1fr));
  gap: 1rem;
}

.card {
  padding: 1rem;
  border-radius: 0.5rem;
  min-width: var(--card-width);
  background-color: white;
  box-shadow: 0 2px 4px rgba($color: #000000, $alpha: 0.5);

  .card-header {
    margin-bottom: 1rem;
  }

  .card-footer {
    margin-top: 1rem;
    display: flex;
  }

  .card-button {
    --button-clr: hsl(240, 50%, 70%);
    --button-clr-hover: hsl(240, 50%, 75%);
    --button-clr-active: hsl(240, 50%, 65%);
    padding: 0.5rem;
    border-radius: 0.25rem;
    background-color: var(--button-clr);
    color: white;
    text-transform: capitalize;
    font-weight: bold;
    border: none;
    cursor: pointer;

    & + .card-button {
      margin-left: 1rem;
    }

    &:hover,
    &:focus {
      background-color: var(--button-clr-hover);
    }

    &:active {
      background-color: var(--button-clr-active);
    }

    &.button-outline {
      --button-clr-hover: hsl(240, 50%, 90%);
      --button-clr-active: hsl(240, 50%, 75%);
      border: none;
      background-color: transparent;
      color: initial;
      border: 2px solid var(--button-clr);

      &:hover,
      &:focus {
        background-color: var(--button-clr-hover);
      }

      &:active {
        background-color: var(--button-clr-active);
      }
    }
  }

  &.js-create {
    animation: 0.4s addCard ease-out;
  }

  &.js-destroy {
    animation: 0.4s deleteCard ease-out forwards;
  }
}
