@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+Display:wght@300;700&family=Noto+Sans+Mono&display=swap");

$accent-clr: #22bbff;
$card-overflow: 12;

@mixin delay-appearance($extra-delay: 0s) {
  animation: 250ms delay-appearance calc($extra-delay + 2s) ease-out forwards;
}

@keyframes delay-appearance {
  from {
    visibility: hidden;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes float-in {
  from {
    transform: translateY(5rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

body {
  position: relative;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  background-color: rgb(17, 17, 17);
  color: white;
  font-family: "Noto Sans Display", sans-serif;
}

* {
  &::-webkit-scrollbar {
    background-color: #222;
    border-radius: 8px;
    width: 12px;
    height: 12px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #444;
    border-radius: 8px;
  }
}

p,
h1,
h2 {
  margin: 0;
  padding: 0;
}

.title {
  height: 100vh;
  display: grid;
  background-image: url("../assets/card-tricks/websitebg2.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  .menu-icon {
    position: absolute;
    width: 40px;
    margin: 1rem;
    opacity: 0;
    cursor: pointer;
    visibility: hidden;
    @include delay-appearance();

    .menu-bar {
      display: block;
      padding-top: 8px;
      width: 40px;
      height: 2px;
      border-top: 4px solid rgba($color: #fff, $alpha: 0.8);
    }
  }

  .title-text {
    grid-area: 1 / 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    h1 {
      font-size: 3rem;
    }

    * {
      font-family: "Noto Sans", sans-serif;
      margin: 0;
      opacity: 0;
      animation: 1s float-in calc(var(--delay) * 1s) ease-out forwards;
    }

    * + * {
      margin-top: 1rem;
    }
  }

  .title-classes {
    visibility: hidden;
    @include delay-appearance(250ms);
    grid-area: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    ul {
      display: flex;
      position: relative;
      padding: 0;
      gap: 0.5rem;
      list-style-type: none;
      li {
        height: calc(60px + 0.8rem);
        transition: all 200ms;
        img {
          width: 60px;
          margin: 0.4rem;
        }

        &:hover,
        &:active {
          background-color: #333;
        }
      }

      &::after {
        position: absolute;
        content: "";
        left: 0;
        right: 0;
        bottom: -0.5rem;
        height: 0.25rem;
        background-color: #444;
      }
    }
  }
}

.info-boxes {
  padding: 8rem;

  .content {
    margin-inline: auto;
    max-width: 60rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .text-box {
    cursor: pointer;
    min-height: 12rem;
    outline: 1px solid #535353;
    padding: 1rem;
    transition: all 200ms;

    * + * {
      margin-top: 1rem;
    }

    h2 {
      position: relative;
      text-transform: uppercase;
      font-weight: bold;
      color: $accent-clr;
      width: -moz-fit-content;
      width: fit-content;

      &::after {
        position: absolute;
        content: "";
        top: 1.5em;
        left: 0;
        width: 100%;
        height: 8px;
        background-color: $accent-clr;
      }
    }

    &:hover,
    &:active {
      background-color: $accent-clr;

      h2 {
        color: black;

        &::after {
          background-color: black;
        }
      }
    }
  }

  .center-image {
    display: flex;
    place-content: center;
  }
}

.card-columns {
  display: flex;
  text-align: center;
  gap: 1rem;
  padding-bottom: 4rem;

  & .side-card {
    outline: 1px solid #535353;
    box-shadow: 0 0 1rem rgba($color: #000000, $alpha: 1);
    padding: 1rem;
    margin: 1rem;
    flex-grow: 1;
    flex-basis: 30%;

    & * + * {
      margin-top: 1rem;
    }
  }
  & .card-list {
    flex-grow: 1;
    flex-basis: 70%;
  }
}

.card-list {
  display: flex;
  padding: 3rem;
  padding-top: 4.5rem;
  overflow-x: scroll;

  & > .card + .card {
    margin-left: calc($card-overflow * -1rem);
  }
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 350px;
  width: 250px;
  min-width: 250px;
  padding: 1.5rem;
  background-color: rgb(24, 24, 24);
  background-image: url("../assets/card-tricks/ak-corner-logo.png");
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 60%;
  outline: 1px solid #535353;
  box-shadow: -1rem 0 1rem rgba($color: #000000, $alpha: 0.5);

  font-family: "Noto Sans Mono", monospace;

  transition-duration: 200ms;

  p {
    position: relative;
    text-align: left;
    margin: 0 0 1rem;
    width: -moz-fit-content;
    width: fit-content;
    transition: color 500ms;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: -2rem;
      width: 100%;
      height: 100%;
      background-image: url(../assets/card-tricks/sanity-icon.png);
      background-position: center right;
      background-size: 1.5rem 1.5rem;
      background-repeat: no-repeat;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: -2%;
      width: 104%;
      height: 100%;
      background-color: $accent-clr;
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 250ms;
      z-index: -1;
    }
  }

  h2 {
    margin-bottom: 0;
    overflow: hidden;
    max-height: 14rem;
    line-height: 1.25;
  }

  &:hover,
  &:active {
    transform: translateY(-1.5em);

    p {
      color: black;

      &::after {
        transform: scaleX(1);
      }
    }

    & ~ .card {
      transform: translateX(calc($card-overflow * 1rem));
    }
  }

  .card-author {
    position: relative;
    display: grid;
    grid-template-columns: 75px 1fr;
    align-items: center;
    margin: auto 0 1rem;

    img {
      display: block;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin: 16px 10px;
    }

    svg {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 60px;
      height: 48px;
      fill: none;
      stroke: $accent-clr;
      stroke-width: 8;
    }

    .author-prefix {
      font-weight: bold;
      color: #888;
    }

    .author-name {
      width: -moz-fit-content;
      width: fit-content;
      color: inherit;
      text-decoration: none;
    }
  }
}

section {
  background-color: #17181a;
  min-height: 50vh;
}

footer {
  min-height: 3rem;
  background-color: #111;
  padding: 0.5rem;

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding-left: 0;
    line-height: 1.5;
  }

  li + li {
    margin-left: 1rem;
  }
}

@media (max-width: 600px) {
  .card-columns {
    flex-wrap: wrap;
  }
}
