body {
  background: rgb(238, 242, 230);
  background: linear-gradient(0deg, rgb(214, 205, 164) 0%, rgb(238, 242, 230) 100%);
  background-attachment: fixed;
  padding: 0;
  margin: 0;
  display: grid;
  place-items: center;
}

header {
  display: grid;
  place-items: center;
  width: 100%;
  gap: 4px;
  padding-top: 4px;
  background-color: #3d8361;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3) inset;
}
header div {
  display: grid;
  grid-template-columns: auto 1fr;
  place-items: center;
  clear: left;
}
header div h1 {
  margin: 0 0 0 1rem;
  color: transparent;
  background: linear-gradient(0deg, rgb(215, 216, 216) 0%, rgb(162, 248, 219) 100%);
  -webkit-background-clip: text;
  background-clip: text;
}
header div img {
  background-color: #1c6758;
  border-radius: 10px;
  outline: 1px solid #a8a8a8;
  height: 64px;
  float: left;
}
header nav {
  display: grid;
  background-color: #2c3639;
  width: 100%;
  place-items: center;
}
header nav ul {
  padding: 0;
  margin: 0;
}
header nav ul li {
  display: inline-block;
  text-align: center;
  background-color: #1c6758;
  color: #e0ffff;
  border-radius: 4px;
  min-width: 8ch;
  padding: 5px 4px;
  margin: 4px;
}
header nav ul li a {
  color: #e6f4f7;
}

main {
  padding: 1rem;
  max-width: 50rem;
  background-color: rgb(238, 242, 230);
  outline: 1px solid #a8a8a8;
  padding-bottom: 2rem;
}
main .main-image {
  display: grid;
  place-items: center;
}
main article h1 {
  color: green;
  font-size: 200%;
}
main article h3 {
  color: grey;
}
main article p:first-of-type::first-letter {
  font-size: 200%;
}

footer {
  display: grid;
  place-items: center;
  width: 100%;
  background-color: #3f4e4f;
  color: #e0ffff;
  border-top: 1px solid #a8a8a8;
  width: 100%;
}