@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+Display:wght@300;700&family=Noto+Sans+Mono&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
button {
  font-family: inherit;
  font-size: inherit;
}

body {
  background-color: lemonchiffon;
  font-family: "Noto Sans", Arial, Helvetica, sans-serif;
}

main {
  max-width: 60rem;
  margin-inline: auto;
  padding: 1rem;
  min-height: 100vh;
  background-color: white;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  text-align: center;

  > * + * {
    margin-top: 1rem;
  }
}

h1 {
  font-size: 3rem;
  font-family: "Noto Sans Display", Arial, Helvetica, sans-serif;
}

p {
  font-size: 1.5rem;
}

// Game Element Styles
#quote {
  background-color: antiquewhite;
  padding: 1rem 0.5rem;
  line-height: 1.5;
  font-family: "Noto Sans Mono", Courier, monospace;
}

.input-items {
  font-size: 1.25rem;
}

#typed-value:disabled {
  cursor: not-allowed;
}

// Game styles
.prepare {
  font-family: "Noto Sans", Arial, Helvetica, sans-serif !important;
}

.highlight {
  background-color: yellow;
}

.error {
  background-color: lightcoral;
  border: 2px solid red;
}
.checking {
  background-color: lightgreen;
  border: 2px solid green;
}

.victory {
  position: relative;
  transition: all 250ms;
  color: green;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    bottom: 0;
    overflow: hidden;
    background-color: white;
    border-right: 2rem solid lightgrey;
    animation: bg-shine 1s ease forwards;
  }
}

@keyframes bg-shine {
  0% {
    transform-origin: left;
    transform: scaleX(0) skewX(-65deg);
  }
  50% {
    transform: scaleX(0.05) skewX(-65deg);
  }

  100% {
    transform-origin: right;
    transform: scaleX(0) skewX(-65deg);
  }
}
