@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+Display:wght@300;700&family=Noto+Sans+Mono&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
button {
  font-family: inherit;
  font-size: inherit;
}

body {
  background-color: #363636;
  color: white;
  font-family: "Noto Sans", Arial, Helvetica, sans-serif;
}

main {
  max-width: 60rem;
  margin-inline: auto;
  padding: 1rem;
  min-height: 100vh;
  background-color: #4f4f4f;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  text-align: center;
}
main > * + * {
  margin-top: 1rem;
}

h1 {
  font-size: 3rem;
  font-family: "Noto Sans Display", Arial, Helvetica, sans-serif;
}

p {
  font-size: 1.5rem;
}

#quote {
  background-color: #222222;
  padding: 1rem 0.5rem;
  line-height: 1.5;
  font-family: "Noto Sans Mono", Courier, monospace;
}

.input-items {
  font-size: 1.25rem;
}

#typed-value:disabled {
  cursor: not-allowed;
}

#start {
  background-color: #0098dc;
  padding: 4px;
  border: none;
  color: white;
}
#start:hover {
  background-color: #0086c3;
}

.prepare {
  font-family: "Noto Sans", Arial, Helvetica, sans-serif !important;
}

.highlight {
  background-color: #0098dc;
}

.error {
  background-color: lightcoral;
  border: 2px solid red;
}

.checking {
  background-color: lightgreen;
  border: 2px solid green;
}

.victory {
  position: relative;
  transition: all 250ms;
  color: #43c5ff;
  overflow: hidden;
}
.victory::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
  bottom: 0;
  overflow: hidden;
  background-color: white;
  border-right: 2rem solid lightgrey;
  -webkit-animation: bg-shine 1s ease forwards;
          animation: bg-shine 1s ease forwards;
}

@-webkit-keyframes bg-shine {
  0% {
    transform-origin: left;
    transform: scaleX(0) skewX(-65deg);
  }
  50% {
    transform: scaleX(0.05) skewX(-65deg);
  }
  100% {
    transform-origin: right;
    transform: scaleX(0) skewX(-65deg);
  }
}

@keyframes bg-shine {
  0% {
    transform-origin: left;
    transform: scaleX(0) skewX(-65deg);
  }
  50% {
    transform: scaleX(0.05) skewX(-65deg);
  }
  100% {
    transform-origin: right;
    transform: scaleX(0) skewX(-65deg);
  }
}